*.user
*.suo
*.DotSettings

obj
bin
**/packages

TestResults

/db/*
!/db/SQL.Changes
/db/*.sws
/db/*.pdb
/db/*.apm

/media
/utils

# Результаты действия обфускатора
**/Obfuscation/Dst/*
**/Obfuscation/Src/*

# Tabs studio extension files
**/*.tss
**/.vs/**

_ReSharper.Caches

*.js.map
*.rsa
*.orig
**/Logs/**/*.log
**/Logs/**/*.txt
**/Logs/**/*.json
appsettings.*.json

.vscode
.sonarqube
**/BenchmarkDotNet.Artifacts/
/subsystems/Uklon.Web/publish/**
.idea
**/src/**/*.Development.json
StyleCop.Cache
*.BASE
*.LOCAL
*.REMOTE
